*{
    box-sizing: border-box;
}

section{
    display: grid;
    grid-template-columns: 1fr;
}

.red{
    background-color: #F83259;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.blue{
    background-color: #63F6F3;
    grid-row: 3;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 1em;
}

.yellow{
    background-color: #FEFF03;
    grid-row: 6;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 1em;
}

@media(min-width: 820px){
    section{
        grid-template-columns: 1fr 1fr;
    }

    .blue{
        align-items: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .yellow{
        align-items: center;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}